<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Static Page for Charizard </title>
    
    <meta itemprop="name" content=" Charizard General Tag ">
    <meta name="description" content="Charizard Static Page by Navjot"/>
    <meta itemprop="image" content=" http://img.pokemondb.net/artwork/charizard.jpg ">

    <meta property="og:title" content="Static Charizard for Facebook"/>
    <meta property="og:description" content="Pokemon Search Database for Charizard #Facebook "/>
    <meta property="og:image" content=" http://img.pokemondb.net/artwork/charizard.jpg "/> 
    <meta property="og:site_name" content="http://pokemondb.net/pokedex/charizard"/> 

    <meta property="og:url" content=" www.charizard.com " />
    <meta property="article:author" content="wwww.facebook.com/Navjot.Singh.12" />
    <meta property="article:publisher" content="wwww.facebook.com/Navjot.Singh.12"/>

    <meta property='og:video' content='https://www.youtube.com/watch?v=vhP1b1o2Q8Y '/>
    <!--meta property='og:video:height' content=' '/>
    <meta property='og:video:type' content=' '/>
    <meta property='og:video:width' content=' '/>
    <meta property='og:type' content=' '/-->

    <meta name="twitter:card" content=" Charizard Static Twitter Information " />
    <meta name="twitter:site" content=" www.charizard.com " />
    <meta name="twitter:title" content=" Pokedex for Charizard @Twitter! " />
    <meta name="twitter:description" content=" Static Charizard page for twitter developed by Navjot Singh " />
    <meta name="twitter:image" content=" http://img.pokemondb.net/artwork/charizard.jpg " />
            
    <meta name="viewport" content="width=320, initial-scale=1">

  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style type="text/css">
      .somename>div{
        border: 1px solid dashed;
        padd: 10 px;
        background: magenta;
        min-height: 250px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Empty navigation</span>
      </button>
      <a class="navbar-brand" href="#">Pokemon!</a>
    </div>
	<h1>HAHAHA EMPTY PAGE</h1><br><br>
	<h2>Boo yeah for an Empty page nig'</h2>
	<br><p>Look, here's a charizard:</p>
	<img src = "http://img.pokemondb.net/artwork/charizard.jpg">
	<br><p><a href="https://www.youtube.com/watch?v=vhP1b1o2Q8Y">Here's link for Charizard's video: CHARIZARD BACK TO ASH!</a></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!--script src="js/bootstrap.min.js"></script-->
    <script type="text/javascript">
    $(function(){
    $('[data-toggle="popover"]').popover()
    })
    </script>

  </body>
</html>
