<!--{% extends "search/base.html" %}-->

{% block head %}
	<title> {{date}} </title>
	<style type='text/css'>
		img{ width: 350 px; }
	</style>
{% endblock head %}

{% block meta %}

	<meta itemprop="image" content="{{pokemon.pokemon_image}}">

	<meta property="og:title" content="{{pokemon.pokemon_name}}"/>
	<meta property="og:description" content="Pokemon Search Database"/>
	<meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
	<meta property="og:site_name" content="http://protected-everglades-37536.herokuapp.com/"/> 

	<meta property="og:url" content="http://protected-everglades-37536.herokuapp.com/{{pokemon.id}}/{{pokemon.pokemon_name}}" />
	<meta property="article:author" content="wwww.facebook.com/Navjot.Singh.12" />
	<meta property="article:publisher" content="wwww.facebook.com/Navjot.Singh.12"/>

	<!--meta property='og:video' content=' '/>
	<meta property='og:video:height' content=' '/>
	<meta property='og:video:type' content=' '/>
	<meta property='og:video:width' content=' '/>
	<meta property='og:type' content=' '/-->

	<meta name="twitter:card" content=" Pokemon_Information " />
	<meta name="twitter:site" content=" @zing521 " />
	<meta name="twitter:title" content=" {{pokemon.pokemon_name}} #{{pokemon.id}} " />
    <meta name="twitter:text" content=" Some text about {{pokemon.pokemon_name}} " />
	<meta name="twitter:description" content=" More information about {{pokemon.pokemon_name}} " />
	<meta name="twitter:image" content="{{pokemon.pokemon_image}}" />

{% endblock %}

{% block content %}

	<h1> You searched for #{{pokemon.id}} {{pokemon.pokemon_name}}</h1>

	<div class='row'>
		<div class='col-md-6'>
			<img src="{{pokemon.pokemon_image}}">
		</div>
		<div class='col-md-6'>
				<a target='_blank' href="https://www.facebook.com/sharer/sharer.php?u=https%3A//protected-everglades-37536.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}">
				<button class='btn btn-success'>Share on Facebook!</button></a>
				<br>
				<a target='_blank' href="https://twitter.com/home?status=Yo check dis out mahn! https%3A//protected-everglades-37536.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}"><button class='btn btn-primary'>Tweet it!</button></a>
				<br>
				<a target='_blank' href="https://plus.google.com/share?url=https%3A//protected-everglades-37536.herokuapp.com/{{pokemon.id}}/{{pokemon.pokemon_name}}"><button class='btn btn-warning'>Share on Google+!</button></a>
				<br>
				<a target='_blank' href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//protected-everglades-37536.herokuapp.com/{{pokemon.id}}/{{pokemon.pokemon_name}}&title=My%20Pokedex&summary=Poke%20Poke&source=Pokemonnnnnnnn"><button class='btn btn-primary'>Put on Linked In!</button></a>
				<br>
				<a target='_blank' href='mailto:singh_navjot75@yahoo.ca?&cc=singh.navjot12@gmail.com&subject=Some Error Mayne. Look after it.&body=Dikkat%20hai%20be%20yahan-https%3A//protected-everglades-37536.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}%0ATheek%20kar%20isko.'><button class='btn btn-success'>Report Bug.</button></a>
				<br>
				<a target='_blank' id='whatsapp' href='whatsapp://send?text=Hi there check this out! https%3A//protected-everglades-37536.herokuapp.com/pokemon/{{pokemon.id}}/{{pokemon.pokemon_name}}'><button class='btn btn-warning btn-lg'>Share on Whatsapp!</button></a>
		</div>
	</div>

{% endblock content %}

{% block scripts %}
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

	<script type="text/javascript">
		$(document).ready(function(){			//This function is called as soon as the page is loaded.
			alert(navigator.userAgent);
			if (navigator.userAgent.match('Android') == null) {
				//user is on browser
				$('#whatsapp').hide();
				//document.getElementById('whatsapp').style.display = 'none';
			}
		});
	</script>

{% endblock scripts %}