<!--{% extends "search/base.html" %}-->

{% block head %}
	<title> {{date}} </title>
	<style type='text/css'>
		img{ 
			height: 500 px !important;
		}
		#countdown{
			font-weight: bolder;
			font-size: 150%;
			color: red;
		}
		#score{
			font-weight: bolder;
			font-size: 500%;
		}
	</style>
{% endblock head %}

{% block meta %}

	<meta itemprop="image" content="{{pokemon.pokemon_image}}">

	<meta property="og:title" content="Pokemon Game"/>
	<meta property="og:description" content="Game about guessing pokemon under 15 seconds!"/>
	<meta property="og:image" content="{{pokemon.pokemon_image}}"/> 
	<meta property="og:site_name" content="http://fast-fjord-25866.herokuapp.com/"/> 

	<meta property="og:url" content="fast-fjord-25866.herokuapp.com/game" />
	<meta property="article:author" content="wwww.facebook.com/Navjot.Singh.12" />
	<meta property="article:publisher" content="wwww.facebook.com/Navjot.Singh.12"/>

	<meta name="twitter:card" content=" Pokemon Game! " />
	<meta name="twitter:site" content=" @zing521 " />
	<meta name="twitter:title" content=" Pokemon Guess " />
    <meta name="twitter:text" content=" Game about guessing pokemon under 15 seconds! " />
	<meta name="twitter:description" content=" Game about guessing the name of the pokemon by it's image under 45 seconds! " />
	<meta name="twitter:image" content="{{pokemon.pokemon_image}}" />

{% endblock %}

{% block content %}

	<form name='gameboy' onsubmit="check()" method="POST" action="/game">
		{% csrf_token %}
		<div class="col-md-6 col-md-offset-1">
			<h2>What's the name of this Pokemon?</h2>
			<br>
			<img src="{{pokemon.pokemon_image}}">
			<br><br>
			<input type="text" id="answer" placeholder="Your Answer" size='25'>
			<input type="text" name="ans" id="ans" value=1 style="display: none">
	  		<br><br>
	  		<button type="Button" onclick="check()" class="btn btn-primary">Submit!</button>
	  	<br>
	  	</div>

	  	<div class="col-md-4">

	  		<h2>Time Left: <span id='countdown'>15</span> seconds</h2>

		  	<h3>Current Score:  </h3>
		  	<input type="text" name="score" id="score" value='{{score}}' readonly="readonly" size='5'>

			<h3>Share Score!</h3>

		  	<a target='_blank' href="https://www.facebook.com/sharer/sharer.php?u=https%3A//fast-fjord-25866.herokuapp.com/game"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/2000px-F_icon.svg.png" width=75px style="margin-right:10px;"></a>
			
			<a target='_blank' href="https://twitter.com/home?status=Hey guys, I played this cool pokemon game and scored {{score}} points! Check it out- https%3A//fast-fjord-25866.herokuapp.com/game"><img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/512/Twitter-icon.png" width=75px style="margin-right: 10px;"></a>
			
			<a target='_blank' id='whatsapp' href='whatsapp://send?text=Hey mate! Check out this pokemon game! I scored {{score}} points! Challenge accepted? https%3A//fast-fjord-25866.herokuapp.com/game'><img src="http://icons.iconarchive.com/icons/dtafalonso/android-l/512/WhatsApp-icon.png" width=75px style="margin-right: 10px;"></a>
			
			<a target='_blank' href='mailto:singh_navjot75@yahoo.ca?&cc=singh.navjot12@gmail.com&subject=Some Error Mayne. Look after it.&body=Dikkat%20hai%20be%20yahan-https%3A//fast-fjord-25866.herokuapp.com/game%0ATheek%20kar%20isko.'><button class='btn btn-warning' style="height: 70px; font-size: 150%; color: black; ">Report Bug.</button></a>
		</div>
		
  	</form>

{% endblock content %}

{% block scripts %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<script type="text/javascript">
		
	$(document).ready(function(){			//This function is called as soon as the page is loaded.
			if (navigator.userAgent.match('Android') == null) {
				$('#whatsapp').hide();
			}
		});

		$(function() {
		    var cd = $('#countdown');
		    var c = parseInt(cd.text(), 10);
		    var interv = setInterval(function() {
		        c--;
		        cd.html(c);
		        if (document.getElementById('ans').value == 0)
		        {
					clearInterval(interv);
		        }
		        if (c == 0) {
		            //window.location.reload(false);
		            check();
		            clearInterval(interv);
		        }
		    }, 1000);
		});

		function check(){
			var userAnswer = $('#answer').val();
			userAnswer = userAnswer.toLowerCase();
			var correctAnswer = "{{pokemon.pokemon_name}}".toLowerCase();

			if (userAnswer == correctAnswer && parseInt($('#countdown').text(),10)>0 && document.getElementById('ans').value != 0){
				document.getElementById('ans').value = 1;
				var temp = {{score}} + 1 + parseInt($('#countdown').text(),10);
				document.getElementById('score').value = temp;
				alert('Correct Answer! Score: ' + temp);
				document.forms['gameboy'].submit();
			}
			else if (parseInt($('#countdown').text(),10) == 0 && document.getElementById('ans').value == 1){
				document.getElementById('ans').value = 0;
				alert('Time\'s up! The correct answer was {{pokemon.pokemon_name}}');
			}
			else{
				document.getElementById('ans').value = 0;
				//document.getElementById('score').value = 0;
				alert('Incorrect Answer! The correct answer was {{pokemon.pokemon_name}}');
				// window.stop();
			}
		};

	</script>

{% endblock scripts %}